<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 space-y-8 bg-white rounded-lg shadow-md">
    <div>
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900" *ngIf="!isRegistering">
        Sign in to your account
      </h2>
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900" *ngIf="isRegistering">
        Create your account
      </h2>
    </div>
    <form class="mt-8 space-y-6" *ngIf="!isRegistering" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="space-y-4">
        <div>
          <label for="username-address" class="sr-only">Username</label>
          <input
            id="username-address"
            formControlName="username"
            type="email"
            autocomplete="username"
            required
            class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Username"
          />
          <div *ngIf="hasError(loginForm, 'username', 'required')" class="text-red-500 text-sm">Username is required</div>
          <div *ngIf="hasError(loginForm, 'username', 'email')" class="text-red-500 text-sm">Invalid email address</div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            autocomplete="current-password"
            required
            class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Password"
          />
          <div *ngIf="hasError(loginForm, 'password', 'required')" class="text-red-500 text-sm">Password is required</div>
          <div *ngIf="hasError(loginForm, 'password', 'minlength')" class="text-red-500 text-sm">Password must be at least 8 characters</div>
          <div *ngIf="hasError(loginForm, 'password', 'pattern')" class="text-red-500 text-sm">Password must contain letters and numbers</div>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input
            id="remember-me"
            name="remember-me"
            type="checkbox"
            class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
          />
          <label for="remember-me" class="block ml-2 text-sm text-gray-900">
            Remember me
          </label>
        </div>

        <!-- <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            Forgot your password?
          </a>
        </div> -->
      </div>

      <div>
        <button
          type="submit"
          class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Sign in
        </button>
      </div>
      <div class="text-center">
        <button type="button" (click)="toggleForm()" class="mt-2 text-sm font-medium text-indigo-600 hover:text-indigo-500">
          Create an account
        </button>
      </div>
    </form>

    <form class="mt-8 space-y-6" *ngIf="isRegistering" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="space-y-4">
        <div>
          <label for="username" class="sr-only">Username</label>
          <input
            id="username"
            formControlName="username"
            type="email"
            autocomplete="username"
            required
            class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email"
          />
          <div *ngIf="hasError(registerForm, 'username', 'required')" class="text-red-500 text-sm">Username is required</div>
          <div *ngIf="hasError(registerForm, 'username', 'email')" class="text-red-500 text-sm">Invalid email address</div>
        </div>
        <div>
          <label for="first-name" class="sr-only">First Name</label>
          <input
            id="first-name"
            formControlName="firstName"
            type="text"
            autocomplete="given-name"
            required
            class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="First Name"
          />
          <div *ngIf="hasError(registerForm, 'firstName', 'required')" class="text-red-500 text-sm">First name is required</div>
          <div *ngIf="hasError(registerForm, 'firstName', 'maxlength')" class="text-red-500 text-sm">First name cannot exceed 32 characters</div>
        </div>
        <div>
          <label for="last-name" class="sr-only">Last Name</label>
          <input
            id="last-name"
            formControlName="lastName"
            type="text"
            autocomplete="family-name"
            required
            class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Last Name"
          />
          <div *ngIf="hasError(registerForm, 'lastName', 'required')" class="text-red-500 text-sm">Last name is required</div>
          <div *ngIf="hasError(registerForm, 'lastName', 'maxlength')" class="text-red-500 text-sm">Last name cannot exceed 32 characters</div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            autocomplete="new-password"
            required
            class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Password"
          />
          <div *ngIf="hasError(registerForm, 'password', 'required')" class="text-red-500 text-sm">Password is required</div>
          <div *ngIf="hasError(registerForm, 'password', 'minlength')" class="text-red-500 text-sm">Password must be at least 8 characters</div>
          <div *ngIf="hasError(registerForm, 'password', 'pattern')" class="text-red-500 text-sm">Password must contain letters and numbers</div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Register
        </button>
      </div>
      <div class="text-center">
        <button type="button" (click)="toggleForm()" class="mt-2 text-sm font-medium text-indigo-600 hover:text-indigo-500">
          Already have an account? Sign in
        </button>
      </div>
    </form>
  </div>
</div>
